node_modules

app/assets
app/components
app/routes
app/utils

app/entry.client.tsx
app/entry.server.tsx
app/root.tsx

/.idea
.idea
/.cache
.cache
types
.eslintrc.cjs
env.d.ts
postcss.config.cjs
tsconfig.json

package-lock.json
/setting/
/address/
/agent/
